# Ignore temp files
*~
**/*~

# Ignore copyharp2_taskpar
copy_ofdock_taskpar_xl/*
copy_ofdock_taskpar_xl.zip

# Ignore docking debug/tmp output
*~
final_population_run*
docking.dlg
docking.xml
initpop.txt

# Ignore files inside pdbs
ofdock_taskpar_xl/input/*/derived/*_nrun*

# Ignore SDAccel binaries / temporal
xclbin*/
_xocc_*
.Xil/
_sds/

# ===================
# C gitignore
# https://github.com/github/gitignore/blob/master/C.gitignore
# ===================
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# ===================
# C++ gitignore
# https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# ===================

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

