
[submodule "wrapveo"]
	path = wrapveo
	url = https://github.com/esa-tu-darmstadt/WrapVEO.git
[submodule "AD-GPU_set_of_42"]
	path = AD-GPU_set_of_42
	url = https://github.com/diogomart/AD-GPU_set_of_42.git
[submodule "ad-gpu_miniset_20"]
	path = ad-gpu_miniset_20
	url = https://gitlab.com/L30nardoSV/ad-gpu_miniset_20.git
