
[submodule "wrapveo"]
	path = wrapveo
	url = https://gitlab.com/postdoc_tud/molecular-docking/autodock-aurora/wrapveo.git
[submodule "AD-GPU_set_of_42"]
	path = AD-GPU_set_of_42
	url = https://github.com/diogomart/AD-GPU_set_of_42.git
